# Игнорируем объектные файлы в любой папке
*.o

# Игнорируем бинарные исполняемые файлы в папке src
src/exec_min_max
src/parallel_min_max
src/sequential_min_max

# Игнорируем временные файлы Word, начинающиеся с ~$
~$*.docx

# Мне захотелось скрыть отчетик)()()()()
*.docx
*.pdf